.authorsListDiv{
    margin-top: 4%;
    color: rgb(26, 26, 119);
    font-size: large;
}
.authorsListHeader{
    margin-bottom: 2%;
}
.authorsListItem{
    width: 50%;
    display: flex;
    font-style: italic;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}
.authorsListItem:hover{
    cursor: pointer;
    opacity: 70%;
 }
.authorsListImage{
    height: 40px;
    margin-left: 3%;
    border-radius: 25px;
}
.authorsListText{
    margin-top: 5px;
    margin-left: 10px;
}